@using CSGOBeast.Data.Models
@using CSGOBeast.Web.ViewModels.Shop
@model CSGOBeast.Web.ViewModels.Shop.ShopViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 well">
        <h2 style="float:right;">$<span class="user-credits">0.00</span></h2>
        <h1>Store</h1>
        <p>Welcome to the CS:GO Beast skin store, from here you are able to buy any of the skins that we currently have in our inventory, given you have enough balance to cover the purchase. After clicking on "Buy" on a weapon of your choice it will add a trade offer to your wallet page, and from there you will be able to retrieve it and have a trade offer sent to your account.</p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row"></div>
@foreach (var item in this.Model.Items)
{
    <div class="col-lg-3 col-md-6 text-center">
        <div class="well result-box nomargin">
            <h3><a href="https://csgostash.com/family/Fuel+Injector">@item.Name</a></h3>

            <div class="quality color-covert">
                <p class="nomargin">@item.Classification.ToString()</p>
            </div>
            <a href="@item.ImageLink"><img class="img-responsive center-block" src="@item.ImageLink" alt="@item.Name"></a>

            <div class="price">
                <p class="nomargin"><span class="price-st">@item.Price $</span></p>
            </div>            
            <div class="details-link">
                <p class="nomargin"><a href="https://csgostash.com/skin/720/AK-47-Fuel-Injector"><span class="glyphicon glyphicon glyphicon-link"></span>AK-47 Fuel Injector Skin &amp; Price Details</a></p>
            </div>
        </div>
    </div>
}
