@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Inventory", "Inventory", "Inventory", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = "" })
            </li>
            <li>
                @Html.ActionLink("Store", "Items", "Shop", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = "" })
            </li>
            <li>
                @Html.ActionLink(" ", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = "profile-name", title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink("Log in Steam", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "loginLink" })*@
            <a id="loginLink" href="@Url.Action("Login", "Account", routeValues:new { area = string.Empty })">
                <img class="login-img" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png" />
            </a>
        </li>
    </ul>
}
